body{
    margin: 0;
    padding: 0;
    background-color: #666666;
    font-family: "Inter", sans-serif;
}
.nav{
    width: 100vw;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 60vw; 
    margin-top: 16px;
}
.name{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}
.name h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}
.name h2{
    font-size: 16px;
    font-weight: 700;
}

 ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 84px;
    font-size: 20px;
    justify-content: flex-end;
}
.hero{
    margin-left: 224px;
}
.hero p{
    color: #ffffff;
    width: 423px;
    height: 212px;
    font-size: 20px;
    margin-top: 98px;
}
.hero img{
    width: 49px;
    height: 49px;
    display: flex;
    margin-left: 520px;
    padding-top: 12px;
}
.hero h3{
    float: right;
    margin-right: 24px;
    font-size: 16x;
    font-weight: lighter;
    color: #ffffff;
}
.work h2{
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 68px;
    margin-bottom: 12px;

}
.work p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.work button{
    font-size: 20px;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-left: 700px;
    width: 140px;
    height: 40px;
    border: none;
    margin-top: 24px;
}